.mainContainer {
  background-color: #0f172a;
  height: 100vh;
}

.bottomPartContainer {
  background-color: #1b2538;
  color: #fff;
}

.h-30 {
  height: 30%;
}

.h-70 {
  height: 70%;
}

.mh-30 {
  max-height: 30%;
}
