.mainContainer {
  background-color: #0f172a;
  min-height: 100vh;
}

.bottomPartContainer {
  background-color: #1b2538;
}

.bottomPartContainer a {
  text-decoration: none;
  color: #ffc107;
  font-weight: bold;
}

.logo {
  left: 13%;
  top: 2%;
  background-color: #0f172a;
  filter: drop-shadow(2px 2px 8px #666);
}

.logo a {
  text-decoration: none;
}

.popularVeganRecipesCarouselContainer {
  margin-bottom: 0.5rem;
}

.minh-75 {
  min-height: 75vh;
}

.minh-100 {
  min-height: 100vh;
}

.mh-30 {
  max-height: 30vh;
}

.top-25 {
  top: 25%;
}

.fs-17 {
  font-size: 1.063rem;
}

@media screen and (max-width: 576px) {
  .mainContainer .logo {
    position: static !important;
    border-radius: 0% !important;
  }

  .mainContainer .logo img {
    height: 2.5rem !important;
  }
}
