.mainContainer {
  background-color: #0f172a;
  min-height: 100vh;
}

.bottomPartContainer {
  background-color: #1b2538;
}

.bottomPartContainer a {
  text-decoration: none;
  color: #ffc107;
  font-weight: bold;
}

.logo {
  left: 13%;
  top: 2%;
  background-color: #ffc107;
  filter: drop-shadow(2px 2px 8px #666);
}

.logo a {
  text-decoration: none;
}

.authenticationButton {
  top: 3%;
  left: 81.5%;
  filter: drop-shadow(2px 2px 8px #666);
}

.popularVeganRecipesCarouselContainer {
  margin-bottom: 0.5rem;
}

.minh-75 {
  min-height: 75vh;
}

.minh-100 {
  min-height: 100vh;
}

.mh-30 {
  max-height: 30vh;
}

.top-25 {
  top: 25%;
}

.fs-12 {
  font-size: 0.75rem !important;
}

.fs-17 {
  font-size: 1.063rem;
}

@media screen and (max-width: 576px) {
  .mainContainer .logo {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: auto !important;
    height: auto !important;
    border-radius: 0 0 5% 0 !important;
    margin-top: 0 !important;
  }

  .mainContainer .logo img {
    height: 2rem !important;
  }

  .mainContainer .authenticationButton {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    margin-top: 0 !important;
    left: auto;
  }

  .mainContainer .authenticationButton button {
    border-radius: 0 0 0 5% !important;
  }
}
